/* Шрифти */
@font-face {
    font-family: 'HappyChineseRegular';
    src: url('../fonts/HappyChineseRegular.ttf') format('truetype');
}
@import url('https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap');

/* Основне оформлення */
body {
    margin: 0;
    background-color: #121212;
    color: #f4f4f4;
    font-family: 'Segoe UI', sans-serif;
}

/* Шапка */
header {
    background-color: #1e1e1e;
    color: #e63946;
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid #e63946;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
}

header h1 {
    font-family: 'HappyChineseRegular', sans-serif;
    font-size: 64px;
    margin: 0;
    text-shadow: 0 0 5px #ff2c2c, 0 0 10px #ff4444;
    color: black;
}

/* Блок форми */
.boxed {
    max-width: 400px;
    margin: 100px auto;
    background-color: #1a1a1a;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(230, 57, 70, 0.4);
    text-align: center;
}

.boxed h2 {
    margin-bottom: 20px;
    color: #f1c40f;
}

/* Форма */
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 15px;
}

/* Поля вводу */
input[type="text"],
input[type="email"],
input[type="password"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #2a2a2a;
    color: #f4f4f4;
    font-size: 16px;
}

/* Кнопка */
button[type="submit"] {
    padding: 10px;
    background-color: #e63946;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #c32d3c;
}

/* Посилання */
a {
    display: inline-block;
    margin-top: 10px;
    color: #f1c40f;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Футер */
footer {
    text-align: center;
    padding: 20px;
    background-color: #1e1e1e;
    border-top: 1px solid #333;
    margin-top: 120px;
    color: #777;
    font-size: 14px;
}

/* Повідомлення */
.alert {
    color: #e63946;
    margin: 8px;
}

