<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Asian Food{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<header>
    <h1>🍜 Asian Food</h1>
    <nav>
        <nav>
            {% if current_user.is_authenticated %}
                Привіт, {{ current_user.nickname }}!
                <a href="/logout">Вийти</a>
            {% else %}
                <a href="/login">Вхід</a>
                <a href="/register">Реєстрація</a>
            {% endif %}

            {% if current_user.nickname == 'Admin' %}
                <a href="/add_position">➕ Додати позицію</a>
            {% endif %}
        </nav>
</header>

<main>
    {% block content %}{% endblock %}
</main>

<footer>
    <p>&copy; 2025 Asian Food</p>
</footer>
</body>
</html>
