<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Реєстрація</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/register.css') }}">
</head>
<body>
<header>
    <h1>🍜 Asian Food</h1>
</header>
<div class="boxed">
<h2>Реєстрація</h2>
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% set category, message = messages[0] %}
        <div class="alert alert-{{ category }}">{{ message }}</div>
    {% endif %}
{% endwith %}
<form action="/register" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
    <input type="text" name="nickname" placeholder="Nickname" required>
    <input type="email" name="email" placeholder="Email" required>
    <input type="password" name="password" placeholder="Password" required>
    <button type="submit">Зареєструватися</button>
</form>
</div>
<footer>
    <p>&copy; 2025 Asian Food</p>
</footer>
</body>
</html>
